* {
    outline: 1px solid tomato--;
}

.inner {
    max-width: 144rem;
    margin: 0 auto;
}

@media(max-width:768px) {
    .inner {
        margin: 0 1.6rem;
    }
}

.slg {}

.slg strong {
    display: block;
    font-size: 8rem;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 2.4rem;
}

.slg p {
    font-size: 2.4rem;
    color: var(--white-color);
    line-height: 2.4rem;
}

@media (max-width:768px) {
    .slg {}

    .slg strong {
        display: block;
        font-size: 8rem;
        font-weight: 600;
        color: var(--white-color);
        margin-bottom: 2.4rem;

        /* r */
        margin-left: 1.6rem;
        font-size: 10vw;
        margin-bottom: 8px;
    }

    .slg p {
        font-size: 2.4rem;
        color: var(--white-color);
        line-height: 2.4rem;

        /* r */
        margin-left: 1.6rem;
        font-size: 4vw;

        line-height: 1.2;
    }
}

.default {
    padding: 12rem 0;
}

.default .title {
    max-width: 144rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.default .title h2 {
    font-size: 4rem;
    font-weight: 700;
}

.default .title p {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
}

@media(max-width:768px) {
    .default .title {
        margin: 0 1.6rem;
        margin-bottom: 4rem;
    }

    .default .title h2 {
        font-size: 4rem;
        font-weight: 700;

        /* r */
        font-size: 4.5vw;
    }

    .default .title p {
        margin-top: 1.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.6rem;

        /* r */
        font-size: 2.5vw;
        white-space: normal;
    }
}

.default_btn {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    padding: 0 1.6rem;
    height: 4rem;
    border: 1.6px solid var(--body-color);
    color: var(--body-color);
    font-size: 1.5rem;
    line-height: 1.6rem;
    border-radius: 8px;
    margin-top: 4rem;

    overflow: hidden;

}

.default_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: -1;
    /*색을 뒤로 보낸다.*/

    height: 0;
    background: var(--body-color);

    transition: 0.4s;
}

.default_btn:hover {
    color: #fff;
}

.default_btn:hover::before {
    /*::띄우면 안된다!!*/
    top: auto;
    bottom: 0;
    /*이해안된다.  top: auto;탑값을 무력화시킨다는뜻 bottom: 0;마우스작동될때탑으로*/
    height: 100%;
}

@media (max-width:768px) {
    .default_btn {
        position: relative;
        z-index: 1;
        display: inline-flex;
        align-items: center;
        padding: 0 1.6rem;
        height: 4rem;
        border: 1.6px solid var(--body-color);
        color: var(--body-color);
        font-size: 1.5rem;
        line-height: 1.6rem;
        border-radius: 8px;
        margin-top: 4rem;

        overflow: hidden;

        /* r */
        margin-left: 1.6rem;
        margin-top: 1.6rem;
    }

    .default_btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        z-index: -1;
        /*색을 뒤로 보낸다.*/

        height: 0;
        background: var(--body-color);

        transition: 0.4s;
    }

    .default_btn:hover {
        color: #fff;
    }

    .default_btn:hover::before {
        /*::띄우면 안된다!!*/
        top: auto;
        bottom: 0;
        /*이해안된다.  top: auto;탑값을 무력화시킨다는뜻 bottom: 0;마우스작동될때탑으로*/
        height: 100%;
    }
}

.scroll .arrow {
    width: 2.4rem;
    height: 2.4rem;
    border-left: 1px solid var(--body-color);
    border-bottom: 1px solid var(--body-color);
    transform: rotate(-45deg);
    opacity: 0;
    animation: arrowDown 2s infinite;
}


.scroll .arrow:nth-child(1) {
    animation-delay: 0s;
}

.scroll .arrow:nth-child(2) {
    animation-delay: 0.3s;
}

.scroll .arrow:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes arrowDown {
    0% {
        transform: rotate(-45deg);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        transform: rotate(-45deg);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}